.board {
    width: 797px;
    height: 797px;
    border: 4px solid black;
    display: inline-block;
    margin-top: 60px;
    
 
}

.Chess {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: -2px;
}

.Chess.black {
    background-color: #838e77;
    color: #fff;
    display: inline-block;
}

.Chess.white {
    background-color: #fff;
    color: #333;
    display: inline-block;
}

.center > h2{
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
}